//- Main Header
header.main-header
    //- Header-Upper
    .header-upper
        .outer-container
            .clearfix
                .pull-left.logo-box
                    .logo
                        a(href="index-2.html")
                            img(src="images/DSC/logo-nav-alt.png" alt="" title="")
                .nav-outer.clearfix
                    //- Main Menu
                    nav.main-menu.navbar-expand-md
                        .navbar-header
                            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                        #navbarSupportedContent.navbar-collapse.collapse.scroll-nav.clearfix
                            ul.navigation.clearfix
                                //- li.current.dropdown
                                li.dropdown
                                    a(href="/") Home
                                    //- ul
                                        li
                                            a(href="index-2.html") Home page 01
                                        li
                                            a(href="index-3.html") Home page 02
                                        li
                                            a(href="index-4.html") Home page 03
                                        li
                                            a(href="index-5.html") Home page 04
                                li.dropdown
                                    a(href="/about") About
                                    //- ul
                                        li
                                            a(href="about.html") About
                                        li
                                            a(href="pricing.html") Pricing
                                        li
                                            a(href="login.html") login
                                        li
                                            a(href="sign-up.html") Sign Up
                                        li
                                            a(href="coming-soon.html") Coming Soon
                                //- li.dropdown.has-mega-menu
                                    a(href="#") Pages
                                    .mega-menu
                                        .mega-menu-bar.row.no-gutters
                                            .column.col-lg-3.col-md-3.col-sm-12
                                                ul
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="index-2.html") Home page 01
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="index-3.html") Home page 02
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="index-4.html") Home page 03
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="index-5.html") Home page 04
                                            .column.col-lg-3.col-md-3.col-sm-12
                                                ul
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="about.html") About
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="pricing.html") Pricing
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="login.html") login
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="sign-up.html") Sign Up
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="coming-soon.html") Coming Soon
                                            .column.col-lg-3.col-md-3.col-sm-12
                                                ul
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="blog.html") Blog
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="blog-single.html") Blog Single
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="speakers.html") Speakers
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="schedule.html") Schedule
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="error-page.html") 404 Page
                                            .column.col-lg-3.col-md-3.col-sm-12
                                                ul
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="event-venue.html") Event Venue
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="project.html") Project
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="shop.html") Shop
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="shop-single.html") Shop Single
                                                    li
                                                        i.flaticon-avatar
                                                        a(href="contact.html") Contact
                                li
                                    a(href="/speakers") Speakers
                                
                                li
                                    a(href="/gallery") Gallery

                                //- li
                                    a(href="schedule.html") Schedule
                                //- li.dropdown
                                    a(href="#") Blog
                                    ul
                                        li
                                            a(href="blog.html") Blog
                                        li
                                            a(href="blog-single.html") Blog Single
                                //- li
                                    a(href="contact.html") Contact
                    //- btn box
                    //- .btn-box
                        a.theme-btn.btn-style-one(href="contact.html") Buy Tickets
                //- Outer Box
                //- .outer-box
                    //- Nav Toggler
                    .nav-toggler
                        button.nav-btn
                            span.icon.flaticon-arrows
    //- End Header Upper
//- End Main Header