//- Hidden Bar
section.hidden-bar
    .inner-box
        .cross-icon
            span.fa.fa-times
        .title
            h2 Get Appointment
        //- Appointment Form
        .appointment-form
            form(method="post" action="http://sitetemplate.demo.ithemeslab.com/fizcon/contact.html")
                .form-group
                    input(type="text" name="text" value="" placeholder="Name" required="")
                .form-group
                    input(type="email" name="email" value="" placeholder="Email Address" required="")
                .form-group
                    input(type="text" name="phone" value="" placeholder="Phone no." required="")
                .form-group
                    textarea(placeholder="Message")
                .form-group
                    button.theme-btn.btn-style-one(type="submit") Submit now
        //- Contact Info Box
        .contact-info-box
            ul.info-list
                li
                    a.__cf_email__(href="http://sitetemplate.demo.ithemeslab.com/cdn-cgi/l/email-protection" data-cfemail="d7b4b8b9a3b6b4a397b1beadb4b8b9f9b4b8ba") [email protected]
                li +(123) 456 7890
            ul.social-list.clearfix
                li
                    a(href="#") Facebook
                li
                    a(href="#") Linkedin
                li
                    a(href="#") Twitter
                li
                    a(href="#") Google +
                li
                    a(href="#") Instagram
//- End Hidden Bar