extends components/layout.pug

include components/member.pug

block content
	//- Page Title
	section.page-title(style="background-image:url(images/background/2.jpg);")
		.auto-container
			//- span.float-text About Us
			h1 About Developer Student Club GHRCE
			//- ul.bread-crumb.clearfix
			//- 	li
			//- 		a(href="index-2.html") Home 
			//- 	li About
	//- End Page Title
	//- About Section
	section.about-section
		.anim-icons
			span.icon.icon-cross-1
			span.icon.icon-circle-9
		//- span.float-text About The
		.auto-container
			//- .sec-title
				h2 About The Theme
			.about-carousel.owl-carousel.owl-theme
				//- Slide Item
				.slide-item.clearfix
					.image-box
						figure.image
							img(src="images/resource/about-img-1.jpg" alt="")
					.content-box
						.inner-box
							span.title Diversity and Inclusion
							h3 Encouraging Women in Tech
							.text
								| Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
							.btn-box
								a.theme-btn.btn-style-one(href="contact.html") Join Now
				//- Slide Item
				//- .slide-item.clearfix
					.image-box
						figure.image
							img(src="images/resource/about-img-2.jpg" alt="")
					.content-box
						.inner-box
							span.title Research & Concept
							h3 Pixel Pioneers Belfast 2019
							.text
								| Pixel Pioneers, a one-day conference for web and UX designers and front-end developers, will take place on the 23rd of November 2019 in Belfast.
							.btn-box
								a.theme-btn.btn-style-one(href="contact.html") Register Now
	//- End About Section
	//- Fun Fact Section
	section.fun-fact-section-two
		.anim-icons
			span.icon.icon-circle-10
			span.icon.icon-twist-line-3
		.auto-container
			.fact-counter
				.row.clearfix
					//- Column
					.counter-column.col-lg-3.col-md-6.col-sm-12.wow.fadeInUp
						.count-box
							span.icon.flaticon-mug
							span.count-text(data-speed="3000" data-stop="70") 0
							| +
							h4.counter-title
								| Usefull 
								br
								| Sessions
					//- Column
					.counter-column.col-lg-3.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="400ms")
						.count-box
							span.icon.flaticon-launch
							span.count-text(data-speed="3000" data-stop="10") 0
							| +
							h4.counter-title
								| Technologies
					//- Column
					.counter-column.col-lg-3.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="800ms")
						.count-box
							span.icon.flaticon-lady
							span.count-text(data-speed="3000" data-stop="6") 0
							| k+
							h4.counter-title
								| Regular 
								br
								| Crowd
					//- Column
					.counter-column.col-lg-3.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="1200ms")
						.count-box
							span.icon.flaticon-support-1
							span.count-text(data-speed="3000" data-stop="35") 0
							| +
							h4.counter-title
								| Visionary 
								br
								| Speakers
	//- End Fun Fact Section
	//- About Event
	section.about-event
		.anim-icons
			span.icon.icon-circle-13
			span.icon.icon-circle-14
			span.icon.icon-circle-14
			span.icon.icon-triangle-1
			span.icon.icon-triangle-2
		.auto-container
			.row
				//- Content Column
				.content-column.col-lg-6.col-md-12.col-sm-12
					.inner-column
						.sec-title
							h2 Join the biggest Developer Community in Nagpur.
						.info-box
							h5 About DSC
							.text
								| Developer Student Club act as a community outreach program.
								br
								|  Sed eget pretium quam, non rutrum nisi.
						.info-box
							h5 Popular Speakers
							.text
								| Phasellus et elit eget purus efficitur dignissim. Sed eget pretium quam, non rutrum nisi. Phasellus et elit eget purus efficitur dignissim. Sed eget pretium quam, non rutrum nisi.
				//- Image Column
				.image-column.col-lg-6.col-md-12.col-sm-12
					.image-box.wow.fadeInRight
						figure.image-box
							img(src="images/resource/image-2.png" alt="")
	//- End About Event
	//- Speakers Section Two
	section.speakers-section-two.style-two.alternate-2#team
		span.float-text Team
		.auto-container
			.sec-title
				h2 Our Team
			.row
				//- Speaker Block Four

				+member("Roshan Paturkar", "Chapter Lead", "/images/members/roshan_paturkar.jpg", "https://www.linkedin.com/in/roshan-paturkar/", "https://github.com/roshanpaturkar", "https://twitter.com/roshan_paturkar", null , "https://www.facebook.com/roshan.paturkar", "https://www.instagram.com/roshan_paturkar/")

				+member("Rajat Bhatkulkar", "Android Developer", "/images/members/rajat_bhatkulkar.jpg", "www.linkedin.com/in/rajat-bhatkulkar-917a73179/", null, null, null , null, null)

				+member("Tushar joshi", "Web Developer", "/images/members/tushar_joshi.jpg", "https://www.linkedin.com/in/tushar2179", "https://www.github.com/tushar2179", null, null , null, null)

				+member("Krushn Dayshmookh", "Data Scientist", "/images/members/krushn_dayshmookh.jpg", "https://www.linkedin.com/in/krushndayshmookh/", "https://github.com/krushndayshmookh", null, null , null, null)

				+member("Mrunalsingh Zire", "Web Developer", "/images/members/mrunalsingh_zire.jpg", "https://in.linkedin.com/in/mrunalsingh-zire-457a8816a", "https://github.com/mszire", "https://twitter.com/mszire", "https://stackoverflow.com/users/12059388/mrunalsingh-zire" , "https://www.facebook.com/MSzire", "https://www.instagram.com/ms_zire/")

				+member("Ashlesha Bhalerao", "Community Coordinator", "/images/members/ashlesha_bhalerao.jpg", "https://www.linkedin.com/in/ashlesha-bhalerao-a4242014b/", "https://github.com/bhaleraoashleshaa", "https://mobile.twitter.com/Ashlesha_29", null , "https://www.facebook.com/ashlesha.29", "https://www.instagram.com/ashlesha_.29/")

				+member("Shreyas Malewar", "Content Writer", "/images/members/shreyas_malewar.jpg", "https://www.linkedin.com/in/shreyas-malewar-5b7b91139", "https://github.com/shreyasmalewar", "https://twitter.com/shreyas_m20", "https://stackoverflow.com/users/11821825/shreyas-malewar" , null, "https://www.instagram.com/dishybrat/")

				+member("Ayon Moitra", "Community Coordinator", "/images/members/ayon_moitra.jpg", "http://linkedin.com/in/ayon-moitra-48438412b", null, "https://twitter.com/moitra_ayon", null , null, "https://www.instagram.com/moitra_ayon/")

				+member("Rajat Harinkhede", "Web Developer", "/images/members/rajat_harinkhede.png", "https://www.linkedin.com/in/rajat-harinkhede", "https://github.com/rajat-harin", null, null , null, null)

				+member("Akshay Dhanvijay", "Android Developer", "/images/members/akshay_dhanvijay.png", "https://www.linkedin.com/in/akshay-dhanvijay-104a82179/", null, null, null , null, null)



				
	//- End Speakers Section
	//- Sponsor Section
	section.sponsor-section.style-two(style="background-image: url(images/background/1.jpg);")
		span.float-text Technologies
		.auto-container
			.row
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-1.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-2.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-3.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-4.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-5.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-6.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-7.png" alt="")
				.client-logo.col-lg-3.col-md-6.col-sm-12
					figure.image
						a(href="#")
							img(src="images/clients/2-8.png" alt="")
	//- End Sponsor Section
	//- Location Section Two
	section.location-section-two.style-two
		.anim-icons
			span.icon.icon-cross-1
			span.icon.icon-circle-12
			span.icon.icon-circle-9
			span.icon.icon-twist-line-3
		span.float-text Sponsors
		.auto-container
			.sec-title
				h2 Our Sponsor
			.row
				//- Info Block
				.info-block.col-lg-4.col-md-6.col-sm-12.wow.fadeInUp
					.inner-box
						.image-box
							figure.image
								img(src="images/resource/vactor-1.png" alt="")
						.info-box
							h5 G. H. Raisoni College of Engineering
							.text
								| Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000
				//- Info Block
				.info-block.col-lg-4.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="400ms")
					.inner-box
						.image-box
							figure.image
								img(src="images/resource/vactor-2.png" alt="")
						.info-box
							h5 Google Developers
							.text
								| Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000
				//- Info Block
				//- .info-block.col-lg-4.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="800ms")
					.inner-box
						.image-box
							figure.image
								img(src="images/resource/vactor-3.png" alt="")
						.info-box
							h5 Airport Information
							.text
								| Washington State Convention Center 705 Pike Street ,Seattle, WA 98101 Phone: 206-694-5000
	//- End Location Section
