extends components/layout.pug

block content

    //- Page Title
    section.page-title(style="background-image:url(/images/background/5.jpg);")
        .auto-container
            span.float-text Certificates
            h1 #{certificates[0].event}
    //- End Page Title
    //- Page Container
    .page-container
        .auto-container
            .sec-title
                h4 #{certificates[0].dateFormatted}
            .row
                //- Content Side
                each certificate in certificates
                    .content-side.col-lg-12.col-md-12.col-sm-12
                        h5
                            a(href="/certificate/"+certificate._id) #{certificate.name}    
