extends components/layout.pug

block styles
    link(rel="stylesheet", href="/css/certificate.css")

block content

    //- Page Title
    section.page-title(style="background-image:url(/images/background/5.jpg);")
        .auto-container
            span.float-text Certificate
            a.theme-btn.btn-style-three(href="javascript:printCertificate()") Print
    //- End Page Title
    //- Page Container
    .page-container
    
        if certificate
            #certificate
                h3#name #{certificate.name}
                h5#event #{certificate.event}
                p#date #{certificate.dateFormatted}
                #qr
        
        else
            h3.center No certificate found.
            p.center
                a.btn(href="/events") Events


    
block scripts
    script(src="/js/qrcode.js")
    script(src="/js/jquery.qrcode.js")
    script(src="/js/imagesloaded.pkgd.min.js")
    script(src="/js/html2pdf.bundle.js")
    script(src="/js/certificate.js")