extends components/layout.pug

include components/event.pug

block content
	//- Page Title
	section.page-title(style="background-image:url(images/background/5.jpg);")
		.auto-container
			span.float-text Events
			h1 Events
	//- End Page Title
	//- Sidebar Page Container
	.sidebar-page-container
		.anim-icons
			span.icon.icon-circle-12.wow.zoomIn
			span.icon.icon-circle-9.wow.zoomIn(data-wow-delay="500ms")
			span.icon.icon-twist-line-3.wow.zoomIn(data-wow-delay="800ms")
		.auto-container
			.row.clearfix
				//- Content Side
				//- .content-side.col-lg-8.col-md-12.col-sm-12
				.content-side.col-lg-12.col-md-12.col-sm-12
					.blog-grid
						.row
							//- //- News block
							//- .news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp
							//- 	.inner-box
							//- 		.image-box
							//- 			figure.image
							//- 				a(href="blog-single.html")
							//- 					img(src="images/resource/news-1.jpg" alt="")
							//- 		.lower-content
							//- 			.info-box
							//- 				span.date 19- JAN- 2019
							//- 				span.author Jamie Ashbrook
							//- 			h4
							//- 				a(href="blog-single.html") Why Lead Generation Is Key For Business Growth.
							//- 			.text
							//- 				| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
							//- 			.link-box
							//- 				a(href="blog-single.html")
							//- 					span.fa.fa-angle-right
							//- 					| Read More

							+event("Kotlin Everywhere", "images/resource/news-1.jpg", "18th september 2019", "Roshan Paturkar", "A workshop was organised on Kotlin (as a part of a three day Droid Summit) by Developer Student Club GHRCE and was delivered by DSC Lead GHRCE Roshan Paturkar on 18th Sept’19. Over 30+ students attended the workshop comprising of more than 15+ girls, even students from first-year participated in huge numbers. DSC is eyeing to follow Diversity and Inclusion vision. Students gave very positive feedback. Few students even connected with DSC core team and were inquisitive about upcoming meetups.")

							+event("Getting Started with Android", "images/resource/news-1.jpg", "21st september 2019", "Roshan Paturkar", "2nd day of the most awaited Droid Fest was conducted on 21st Sept’19. Hands-on Workshop on Android Native App Development was conducted by Developer Student Club and delivered by Roshan Paturkar DSC Lead GHRCE. More than 15+ budding technocrats attended the workshop. Participants were very eager to learn how to build their own android application. Students showed up even when the weather was unfavourable which depicted their zeal towards learning. Eventually, participants showed positive feedback.")

							+event("Magic of Firebase", "images/resource/news-1.jpg", "25th september 2019", "Roshan Paturkar", "description")

							//- //- News block
							//- .news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="600ms")
							//- 	.inner-box
							//- 		.image-box
							//- 			figure.image
							//- 				a(href="blog-single.html")
							//- 					img(src="images/resource/news-2.jpg" alt="")
							//- 		.lower-content
							//- 			.info-box
							//- 				span.date 19- JAN- 2019
							//- 				span.author Jamie Ashbrook
							//- 			h4
							//- 				a(href="blog-single.html") How To Increase In-App Purchases In 2019.
							//- 			.text
							//- 				| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
							//- 			.link-box
							//- 				a(href="blog-single.html")
							//- 					span.fa.fa-angle-right
							//- 					| Read More
							//- //- News block
							//- .news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp
							//- 	.inner-box
							//- 		.image-box
							//- 			figure.image
							//- 				a(href="blog-single.html")
							//- 					img(src="images/resource/news-3.jpg" alt="")
							//- 		.lower-content
							//- 			.info-box
							//- 				span.date 19- JAN- 2019
							//- 				span.author Jamie Ashbrook
							//- 			h4
							//- 				a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
							//- 			.text
							//- 				| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
							//- 			.link-box
							//- 				a(href="blog-single.html")
							//- 					span.fa.fa-angle-right
							//- 					| Read More
							//- //- News block
							//- .news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="600ms")
							//- 	.inner-box
							//- 		.image-box
							//- 			figure.image
							//- 				a(href="blog-single.html")
							//- 					img(src="images/resource/news-4.jpg" alt="")
							//- 		.lower-content
							//- 			.info-box
							//- 				span.date 19- JAN- 2019
							//- 				span.author Jamie Ashbrook
							//- 			h4
							//- 				a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
							//- 			.text
							//- 				| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
							//- 			.link-box
							//- 				a(href="blog-single.html")
							//- 					span.fa.fa-angle-right
							//- 					| Read More
							//- //- News block
							//- .news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp
							//- 	.inner-box
							//- 		.image-box
							//- 			figure.image
							//- 				a(href="blog-single.html")
							//- 					img(src="images/resource/news-5.jpg" alt="")
							//- 		.lower-content
							//- 			.info-box
							//- 				span.date 19- JAN- 2019
							//- 				span.author Jamie Ashbrook
							//- 			h4
							//- 				a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
							//- 			.text
							//- 				| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
							//- 			.link-box
							//- 				a(href="blog-single.html")
							//- 					span.fa.fa-angle-right
							//- 					| Read More
							//- //- News block
							//- .news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="600ms")
							//- 	.inner-box
							//- 		.image-box
							//- 			figure.image
							//- 				a(href="blog-single.html")
							//- 					img(src="images/resource/news-6.jpg" alt="")
							//- 		.lower-content
							//- 			.info-box
							//- 				span.date 19- JAN- 2019
							//- 				span.author Jamie Ashbrook
							//- 			h4
							//- 				a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
							//- 			.text
							//- 				| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
							//- 			.link-box
							//- 				a(href="blog-single.html")
							//- 					span.fa.fa-angle-right
							//- 					| Read More
					//- Post Share Options
					//- .styled-pagination
						ul.clearfix
							li
								a(href="#") 1
							li.active
								a(href="#") 2
							li
								a(href="#") 3
							li.next
								a(href="#") Next
				//- Sidebar Side
				//- .sidebar-side.col-lg-4.col-md-12.col-sm-12
					aside.sidebar
						//- search box
						.sidebar-widget.search-box
							form(method="post" action="https://sitetemplate.demo.ithemeslab.com/fizcon/blog.html")
								.form-group
									input(type="search" name="search-field" value="" placeholder="Search....." required="")
									button(type="submit")
										span.icon.fa.fa-search
						//- Categories
						.sidebar-widget.categories
							.sidebar-title
								h3 Catagories
							ul.cat-list
								li
									a(href="#")
										| Dessert
										span 3
								li
									a(href="#")
										| Vegetarian
										span 5
								li.active
									a(href="#")
										| Western
										span 2
								li
									a(href="#")
										| Photograph
										span 1
								li
									a(href="#")
										| Uncategorized
										span 0
						//- Latest News
						.sidebar-widget.latest-news
							.sidebar-title
								h3 Latest News
							.widget-content
								article.post
									.post-thumb
										a(href="blog-single.html")
											img(src="images/resource/post-thumb-3.jpg" alt="")
									.post-info 25- JAN- 2019
									h3
										a(href="blog-single.html") Nullam at mauris fauci bus orci luctus pel.
								article.post
									.post-thumb
										a(href="blog-single.html")
											img(src="images/resource/post-thumb-2.jpg" alt="")
									.post-info 25- JAN- 2019
									h3
										a(href="blog-single.html") Nullam at mauris fauci bus orci luctus pel.
								article.post
									.post-thumb
										a(href="blog-single.html")
											img(src="images/resource/post-thumb-1.jpg" alt="")
									.post-info 25- JAN- 2019
									h3
										a(href="blog-single.html") Nullam at mauris fauci bus orci luctus pel.
						//- Tags
						.sidebar-widget.tags
							.sidebar-title
								h3 Tag Cloud
							ul.tag-list.clearfix
								li
									a(href="#") Business
								li
									a(href="#") Success
								li
									a(href="#") Client Meetings
								li
									a(href="#") Charity

//- End pagewrapper
