doctype html
html
	// Mirrored from sitetemplate.demo.ithemeslab.com/fizcon/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Aug 2019 11:20:25 GMT
	head
		meta(charset="utf-8")
		title Fizcon -  HTML Template | Blog
		// Stylesheets
		link(href="css/bootstrap.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		link(href="css/responsive.css" rel="stylesheet")
		link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
		link(rel="icon" href="images/favicon.png" type="image/x-icon")
		// Responsive
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//if lt IE 9
			script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
		//if lt IE 9
			script(src="js/respond.js")
	body
		.page-wrapper
			// Preloader
			.preloader
			include components/header.pug
            
			// Form Back Drop
			.form-back-drop
			// Hidden Bar
			section.hidden-bar
				.inner-box
					.cross-icon
						span.fa.fa-times
					.title
						h2 Get Appointment
					// Appointment Form
					.appointment-form
						form(method="post" action="http://sitetemplate.demo.ithemeslab.com/fizcon/contact.html")
							.form-group
								input(type="text" name="text" value="" placeholder="Name" required="")
							.form-group
								input(type="email" name="email" value="" placeholder="Email Address" required="")
							.form-group
								input(type="text" name="phone" value="" placeholder="Phone no." required="")
							.form-group
								textarea(placeholder="Message")
							.form-group
								button.theme-btn.btn-style-one(type="submit") Submit now
					// Contact Info Box
					.contact-info-box
						ul.info-list
							li
								a.__cf_email__(href="http://sitetemplate.demo.ithemeslab.com/cdn-cgi/l/email-protection" data-cfemail="83e0ecedf7e2e0f7c3e5eaf9e0ecedade0ecee") [email protected]
							li +(123) 456 7890
						ul.social-list.clearfix
							li
								a(href="#") Facebook
							li
								a(href="#") Linkedin
							li
								a(href="#") Twitter
							li
								a(href="#") Google +
							li
								a(href="#") Instagram
			// End Hidden Bar
			// Page Title
			section.page-title(style="background-image:url(images/background/5.jpg);")
				.auto-container
					span.float-text Blog
					h1 Blog
					ul.bread-crumb.clearfix
						li
							a(href="index-2.html") Home 
						li Blog
			// End Page Title
			// Sidebar Page Container
			.sidebar-page-container
				.anim-icons
					span.icon.icon-circle-12.wow.zoomIn
					span.icon.icon-circle-9.wow.zoomIn(data-wow-delay="500ms")
					span.icon.icon-twist-line-3.wow.zoomIn(data-wow-delay="800ms")
				.auto-container
					.row.clearfix
						// Content Side
						.content-side.col-lg-8.col-md-12.col-sm-12
							.blog-grid
								.row
									// News block
									.news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp
										.inner-box
											.image-box
												figure.image
													a(href="blog-single.html")
														img(src="images/resource/news-1.jpg" alt="")
											.lower-content
												.info-box
													span.date 19- JAN- 2019
													span.author Jamie Ashbrook
												h4
													a(href="blog-single.html") Why Lead Generation Is Key For Business Growth.
												.text
													| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
												.link-box
													a(href="blog-single.html")
														span.fa.fa-angle-right
														| Read More
									// News block
									.news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="600ms")
										.inner-box
											.image-box
												figure.image
													a(href="blog-single.html")
														img(src="images/resource/news-2.jpg" alt="")
											.lower-content
												.info-box
													span.date 19- JAN- 2019
													span.author Jamie Ashbrook
												h4
													a(href="blog-single.html") How To Increase In-App Purchases In 2019.
												.text
													| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
												.link-box
													a(href="blog-single.html")
														span.fa.fa-angle-right
														| Read More
									// News block
									.news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp
										.inner-box
											.image-box
												figure.image
													a(href="blog-single.html")
														img(src="images/resource/news-3.jpg" alt="")
											.lower-content
												.info-box
													span.date 19- JAN- 2019
													span.author Jamie Ashbrook
												h4
													a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
												.text
													| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
												.link-box
													a(href="blog-single.html")
														span.fa.fa-angle-right
														| Read More
									// News block
									.news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="600ms")
										.inner-box
											.image-box
												figure.image
													a(href="blog-single.html")
														img(src="images/resource/news-4.jpg" alt="")
											.lower-content
												.info-box
													span.date 19- JAN- 2019
													span.author Jamie Ashbrook
												h4
													a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
												.text
													| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
												.link-box
													a(href="blog-single.html")
														span.fa.fa-angle-right
														| Read More
									// News block
									.news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp
										.inner-box
											.image-box
												figure.image
													a(href="blog-single.html")
														img(src="images/resource/news-5.jpg" alt="")
											.lower-content
												.info-box
													span.date 19- JAN- 2019
													span.author Jamie Ashbrook
												h4
													a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
												.text
													| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
												.link-box
													a(href="blog-single.html")
														span.fa.fa-angle-right
														| Read More
									// News block
									.news-block.col-lg-6.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="600ms")
										.inner-box
											.image-box
												figure.image
													a(href="blog-single.html")
														img(src="images/resource/news-6.jpg" alt="")
											.lower-content
												.info-box
													span.date 19- JAN- 2019
													span.author Jamie Ashbrook
												h4
													a(href="blog-single.html") Voxburner Launches Youth Trends Report 2018.
												.text
													| Te probo omnis clita mea. In suas singulis consectetuer sed, vim fugit homero labores
												.link-box
													a(href="blog-single.html")
														span.fa.fa-angle-right
														| Read More
							// Post Share Options
							.styled-pagination
								ul.clearfix
									li
										a(href="#") 1
									li.active
										a(href="#") 2
									li
										a(href="#") 3
									li.next
										a(href="#") Next
						// Sidebar Side
						.sidebar-side.col-lg-4.col-md-12.col-sm-12
							aside.sidebar
								// search box
								.sidebar-widget.search-box
									form(method="post" action="http://sitetemplate.demo.ithemeslab.com/fizcon/blog.html")
										.form-group
											input(type="search" name="search-field" value="" placeholder="Search....." required="")
											button(type="submit")
												span.icon.fa.fa-search
								// Categories
								.sidebar-widget.categories
									.sidebar-title
										h3 Catagories
									ul.cat-list
										li
											a(href="#")
												| Dessert 
												span 3
										li
											a(href="#")
												| Vegetarian 
												span 5
										li.active
											a(href="#")
												| Western 
												span 2
										li
											a(href="#")
												| Photograph
												span 1
										li
											a(href="#")
												| Uncategorized 
												span 0
								// Latest News
								.sidebar-widget.latest-news
									.sidebar-title
										h3 Latest News
									.widget-content
										article.post
											.post-thumb
												a(href="blog-single.html")
													img(src="images/resource/post-thumb-3.jpg" alt="")
											.post-info 25- JAN- 2019
											h3
												a(href="blog-single.html") Nullam at mauris fauci bus orci luctus pel.
										article.post
											.post-thumb
												a(href="blog-single.html")
													img(src="images/resource/post-thumb-2.jpg" alt="")
											.post-info 25- JAN- 2019
											h3
												a(href="blog-single.html") Nullam at mauris fauci bus orci luctus pel.
										article.post
											.post-thumb
												a(href="blog-single.html")
													img(src="images/resource/post-thumb-1.jpg" alt="")
											.post-info 25- JAN- 2019
											h3
												a(href="blog-single.html") Nullam at mauris fauci bus orci luctus pel.
								// Tags
								.sidebar-widget.tags
									.sidebar-title
										h3 Tag Cloud
									ul.tag-list.clearfix
										li
											a(href="#") Business
										li
											a(href="#") Success
										li
											a(href="#") Client Meetings
										li
											a(href="#") Charity
			// End Sidebar Container
			// Main Footer
			.main-footer.style-two
				.anim-icons
					span.icon.icon-twist-line-1.wow.zoomIn
					span.icon.icon-circle-6.wow.zoomIn(data-wow-delay="400ms")
					span.icon.icon-twist-line-2.wow.zoomIn(data-wow-delay="800ms")
					span.icon.icon-circle-8.wow.zoomIn(data-wow-delay="1200ms")
				.auto-container
					.sec-title.text-center
						span.title Get The Latest Offers
						h2 Subscribe To Newsletter
					// Newsletter Form
					.newsletter-form
						form(method="post" action="http://sitetemplate.demo.ithemeslab.com/fizcon/blog.html")
							.form-group
								input(type="email" name="field-name" value="" placeholder="email@gmail.com" required="")
								button.theme-btn.btn-style-three(type="submit") Send
					// Social Links
					.social-links
						ul
							li
								a(href="#")
									span.fab.fa-facebook-f
							li
								a(href="#")
									span.fab.fa-twitter
							li
								a(href="#")
									span.fab.fa-dribbble
							li
								a(href="#")
									span.fab.fa-instagram
							li
								a(href="#")
									span.fab.fa-linkedin-in
					// Footer Bottom
					.footer-bottom.clearfix
						.copyright Copyright © 2019. All Rights Reserved.
						ul
							li We Accept 
							li
								a(href="#")
									img(src="images/icons/cart-1.jpg" alt="")
							li
								a(href="#")
									img(src="images/icons/cart-2.jpg" alt="")
							li
								a(href="#")
									img(src="images/icons/cart-3.jpg" alt="")
							li
								a(href="#")
									img(src="images/icons/cart-4.jpg" alt="")
					// Copyright
			// End Footer
		// End pagewrapper
		// Scroll to top
		.scroll-to-top.scroll-to-target(data-target="html")
			span.fa.fa-angle-double-up
		script(data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js")
		script(src="js/jquery.js")
		script(src="js/popper.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/jquery-ui.js")
		script(src="js/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/jquery.fancybox.js")
		script(src="js/appear.js")
		script(src="js/owl.js")
		script(src="js/wow.js")
		script(src="js/countdown.js")
		script(src="js/script.js")
	// Mirrored from sitetemplate.demo.ithemeslab.com/fizcon/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Aug 2019 11:20:46 GMT
