#certificate {
    width: 295mm;
    height: 206mm;
    background: url('/images/certificate.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#certificate * {
    position: absolute;
    white-space: nowrap;
}
#certificate #name {
    margin-top: 122mm;
    margin-left: 30mm;
}
#certificate #event {
    margin-top: 146mm;
    margin-left: 125mm;
}
#certificate #date {
    margin-top: 180mm;
    margin-left: 52mm;
}
#certificate #qr {
    margin-top: 160mm;
    margin-left: 247mm;
} 
#certificate #qr canvas { 
    border: 4px solid #fff;
    border-radius: 2px;
}